<p id="notice"><%= notice %></p>

<h1>Listing Sales</h1>


<%= javascript_tag do %>
  salesData = <%= raw @sales.to_json %>;
  coords = <%= raw @coords.to_json %>
  $(document).ready(function(){
    loadMap(coords, salesData);
  });
<% end %>



<div style='width: 800px;margin:auto;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<table style='margin:auto;'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address line1</th>
      <th>Address line2</th>
      <th>City</th>
      <th>State</th>
      <th>Posted date</th>
      <th>Zip code</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.title %></td>
        <td><%= sale.description %></td>
        <td><%= sale.address_line1 %></td>
        <td><%= sale.address_line2 %></td>
        <td><%= sale.city %></td>
        <td><%= sale.state %></td>
        <td><%= sale.posted_date %></td>
        <td><%= sale.zip_code %></td>
        <td><%= image_tag sale.image.url(:medium) %></td>
        <td><%= link_to 'Show', sale %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
