<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sale.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sale.description %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @sale.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @sale.address_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @sale.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sale.state %>
</p>

<p>
  <strong>Posted date:</strong>
  <%= @sale.posted_date %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @sale.zip_code %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
