<p id="notice"><%= notice %></p>

<script type="text/javascript">
  $(document).ready(function() {
    loadMap(<%= @lat %>, <%= @lng %>);
  });
</script>

<div style='width: 800px;float: right;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<p>
  <strong>Title:</strong>
  <%= @sale.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sale.description %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @sale.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @sale.address_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @sale.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sale.state %>
</p>

<p>
  <strong>Posted date:</strong>
  <%= @sale.posted_date %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @sale.zip_code %>
</p>

<p>
  <strong>Photo</strong>
  <%= image_tag @sale.image.url(:medium) %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
