<p id="notice"><%= notice %></p>

<%= javascript_tag do %>
  salesData = [<%= raw @sale.to_json %>];
  coords = <%= raw @coords.to_json %>
  $(document).ready(function(){
    loadMap(coords, salesData);
  });
<% end %>

<div style='width: 800px;float: right;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<p>
  <strong>Title:</strong>
  <%= @sale.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sale.description %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @sale.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @sale.address_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @sale.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @sale.state %>
</p>

<p>
  <strong>Posted date:</strong>
  <%= @sale.posted_date %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @sale.zip_code %>
</p>

<p>
  <strong>Photo</strong>
  <%= image_tag @sale.image.url(:medium) %>
</p>

<h1> Listing Products </h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.all.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price%></td>
        <td><%= link_to 'Show', sale_product_url(@sale,product) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
