<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>


<%= link_to 'Edit', edit_sale_product_path(@product.sale, @product) %> |
<%= link_to 'Back', sale_products_path(@product.sale) %>
